<%- include('../partials/header') %>

<div class="contain">
    <%- include('../partials/top-bar') %>
    
    <div class="listing-chat">

        <% chat.chat.forEach( msg => { %>
                <% if(msg.id == 1){ %>
                    <div class="message s-m">
                        <div class="text">
                            <span class="name">Anda</span><br>
                            <h2><%= msg.message %> </h2>
                        </div>
                        <span class="date"><%= msg.date %> </span>
                    </div>
                <%}else{ %>
                    <div class="message r-m">
                        <div class="text">
                            <span class="name"><%= msg.name %></span><br>
                            <h2><%= msg.message %> </h2>    
                        </div>
                        <span class="date"><%= msg.date %> </span>
                    </div>
                <%  }%>   
        <% }) %>

    </div>

    <%- include('../partials/chat-bar') %>   
</div>


<%- include('../partials/footer') %>